#assistant-sidebar-root {
  background: red;
  width: var(--assistant-sidebar-width, 300px);
  min-width: 0;
  position: fixed;
  top: calc(36px + var(--control-space-top));
  right: 0;
  bottom: 0;
  display: none;
  z-index: 10;
}

body.assistant-open #assistant-sidebar-root {
  display: flex;
}

body.assistant-open {
  margin-right: var(--assistant-sidebar-width, 300px);
}

#assistant-sidebar-root .resize-handle {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  cursor: ew-resize;
  background: darkred;
}
